
.main
{
    width: 80%;
    height: 80%;
    margin: 10vh auto;    
    border: 2px solid rgb(157, 43, 223);
    border-radius: 1em;
    background-color: rgb(228, 186, 253) ;
    font-family: sans-serif;
}



h1
{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.main>div
{
    display: flex;
    justify-content: center;
    margin: auto;
    
    
}
#info>div
{
    
    height: 20rem;
    width: 15rem;
    margin: 1em ;
    font-size: 13px;
}

#info
{
    justify-content: space-evenly;
    padding-bottom: 1.5em;
}

.in_1>div
{
    padding: 1em 0px;
}
.in_1>p
{
    font-size: 12px;
}
.in_2
{
    border-radius: 1em;
    border:2px solid rgb(115, 5, 158);
    background-color: rgb(80, 41, 255);
    padding: 1em;
}



.in_2>form
{
    padding: 1.5em 1em;
    color: aliceblue;
    font-weight: bold;
}

form>input,textarea{
    margin: .5em 0em;
    padding: .25em 0em;
    border: none;
    border-radius: 2px;
}
form>button{
    padding: .3em 2em;
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family:sans-serif;
}
textarea
{
    max-height: 10em;
}
.in_2>input,label
{
    display: block;
    box-sizing: border-box;
    width: fit-content;
}

input[type="text"], textarea
{
    box-sizing: border-box;
    width: 100%;
}


.list>
{
    padding: 1.5em;
}

